<div *ngIf="isVisible" class="absolute flex flex-col items-center gap-6 left-[720px] top-[320px] z-40 bg-primary-dark-slate rounded-lg py-8 px-14">
  <h1 class="text-3xl text-primary-off-white font-poppins font-medium">Email Sent Successfully</h1>
  <div class="flex flex-col gap-2 items-center">
    <img src="/DataFlow-Manager//src/assets/Notifications/Success.svg" width="40px" alt="Checked Successfully" />
    <p class="text-secondary-success font-poppins font-medium">Your email has been delivered to all recipients</p>
  </div>
  <button (click)="handleClose()"  class="relative flex gap-2 items-center px-4 py-2 rounded-lg bg-primary-dark-blue text-secondary-hade-blue hover:bg-secondary-purple hover:text-primary-off-white">Continue</button>
</div>