  <div *ngIf="!isTemplateRoute()">
    <div  class="p-8 flex text-center justify-center">
      <div class=" bg-primary-dark-slate  justify-center w-[720px] rounded-lg p-8">
        <!-- Name -->
        <div class="flex items-center justify-start mb-4">
          <h1 class="text-primary-off-white text-3xl">Name</h1>
          <input type="text" class="w-[420px] py-4 ml-[140px] mt-3 text-primary-off-white px-5 bg-primary-light-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" placeholder="Name">
        </div>
        <!-- Select a contact list -->
        <div class="flex items-center justify-start mb-4">
          <h1 class="text-primary-off-white text-3xl">Contact</h1>
          <input type="text" class="w-[420px] ml-[115px] py-4 mt-3 text-primary-off-white px-5 bg-primary-light-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" placeholder="Select a contact list">
        </div>
        <!-- Subject -->
        <div class="flex items-center justify-start mb-4">
          <h1 class="text-primary-off-white text-3xl">Subject</h1>
          <input type="text" class="w-[420px] ml-[115px] py-4 mt-3 text-primary-off-white px-5 bg-primary-light-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" placeholder="Subject">
        </div>
        <!-- Email Template -->
        <div class="flex justify-start mb-4">
          <h1 class="text-primary-off-white text-3xl">Template</h1>
          <div class="relative w-[420px] h-[420px] ml-[90px] mt-3">
            <div class="w-full h-full py-4 text-primary-off-white px-5 bg-primary-light-gray/80 rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent"></div>
            <app-select-template *ngIf="isOpened" (close)="toggleSelectTemplate()" class="absolute -top-56 -ml-48 z-40 inset-0 flex items-center justify-center"></app-select-template>
            <button (click)="toggleSelectTemplate()" class="absolute right-2 top-2 items-center px-4 py-2 rounded-lg bg-primary-dark-blue text-secondary-hade-blue hover:bg-secondary-purple hover:text-primary-off-white z-10">
              Edit
            </button>
          </div>
        </div>  </div>
    </div>
  </div>

  <router-outlet></router-outlet>
