<div class="relative p-8 h-full">
    <div class="flex flex-col gap-10">
        <h1 class="text-primary-off-white text-3xl font-poppins font-semibold">My Profile</h1>
        <div class="flex gap-20">
            <a [routerLink]="'/dashboard/user/profile'" class="text-primary-light-gray  font-poppins font-medium text-3xl underline underline-offset-[20px]">Information</a>
            <a [routerLink]="'/dashboard/user/password'" class=" text-primary-off-white font-poppins font-medium text-3xl underline underline-offset-[20px]">Password</a>
        </div>
    </div>
    <div class="flex flex-col gap-10 mt-12">
        <input type=" text" placeholder="Current Password" class="w-[420px] py-4 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent">
        <input type=" text" placeholder="New Password" class="w-[420px] py-4 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent">
    </div>

</div> 