<div class='w-[210px] h-screen flex flex-col text-start items-center bg-primary-dark-slate border-r border-primary-lighter-gray'>
  <div id="menu" class="flex items-center mt-12">
    <ul class="flex flex-col items-start gap-8">
      <li class="text-primary-light-gray flex gap-3 items-center poppins-semi-bold text-sm hover:text-primary-off-white">
        <i class="uil uil-tachometer-fast text-2xl text-primary-light-gray"></i>
        <a class="text-lg poppins-regular" href="#">Overview</a>
      </li>
      <app-submenu [icon]="'uil-user-plus'" [title]="'Contact'" [link]="'/dashboard/contacts'" [isOpen]="openSubmenu === 'contact'" (toggle)="toggleSubmenu('contact')">
        <li class="text-primary-light-gray poppins-regular text-lg hover:text-primary-off-white">
          <a href="/dashboard/contacts/lists">Lists</a>
        </li>
      </app-submenu>
      <app-submenu [icon]="' uil-megaphone'" [title]="'Campaigns'" [link]="'/dashboard/campaigns'" [isOpen]="openSubmenu === 'campaigns'" (toggle)="toggleSubmenu('campaigns')">
        <li class="text-primary-light-gray poppins-regular text-lg hover:text-primary-off-white">
          <a href="#">Emails</a>
        </li>
        <li class="text-primary-light-gray poppins-regular text-lg hover:text-primary-off-white">
          <a href="#">WhatsApp</a>
        </li>
        <li class="text-primary-light-gray poppins-regular text-lg hover:text-primary-off-white">
          <a href="#">SMS</a>
        </li>
      </app-submenu>
      <li class="text-primary-light-gray flex gap-3 items-center poppins-semi-bold text-sm hover:text-primary-off-white">
        <i class="uil uil-file-alt text-xl text-primary-light-gray"></i>
        <a class="text-lg poppins-regular" href="#">Templates</a>
      </li>
      <li class="text-primary-light-gray flex gap-3 items-center poppins-semi-bold text-sm hover:text-primary-off-white">
        <i class="uil uil-comments text-xl text-primary-light-gray"></i>
        <a class="text-lg poppins-regular" href="#">Conversations</a>
      </li>
      <li class="text-primary-light-gray flex gap-3 items-center poppins-semi-bold text-sm hover:text-primary-off-white">
        <i class="uil uil-repeat text-xl text-primary-light-gray"></i>
        <a class="text-lg poppins-regular" href="#">Web scraping</a>
      </li>
      <li class="text-primary-light-gray flex gap-3 items-center poppins-semi-bold text-sm hover:text-primary-off-white">
        <i class="uil uil-chart text-xl text-primary-light-gray"></i>
        <a class="text-lg poppins-regular" href="#">Report</a>
      </li>
    </ul>
  </div>
</div>