.sidebar {
  width: 210px;
  transition: width 0.3s ease;
  
  &.collapsed {
    width: 60px;
    
    .poppins-regular {
      display: none;
    }
  }
}

.toggle-btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: transparent;
  color: var(--primary-light-gray);
  cursor: pointer;
  transition: transform 0.3s ease;
  
  &:hover {
    color: var(--primary-off-white);
  }
}

.collapsed .toggle-btn {
  &.collapsed {
    transform: rotate(180deg);
    transition: transform 3s ease;
  }

}