.phone-number-input {
  display: flex;
  align-items: center;

  select {
    color: #000;
    margin-right: 8px;
    padding: 4px;

    option {
      color: #000;
    }
  }

  input {
    color: #000;
    flex: 1;
    padding: 4px;
  }
}