<div class="relative p-8">
  <!-- Create New List -->
  <div class="flex justify-center items-center absolute inset-0 z-40 top-56">
  </div>
  <div class="flex justify-between items-center">
    <h1 class="text-primary-off-white text-3xl font-poppins font-semibold">E-mailing</h1>
  </div>

  <div class="flex text-center justify-center">
  <div id="body" class="flex flex-col gap-4 w-[920px] p-8 mt-10 justify-center rounded-lg bg-primary-dark-slate">
    <!-- Name -->
     <div class="flex  items-center justify-start">
        <h1 class="text-primary-off-white text-3xl">Name</h1>
        <input type="text"class="w-[420px] py-4 ml-[140px] mt-3 text-primary-off-white px-5 bg-primary-light-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" placeholder="Name">
     </div>
     <!-- Select a contact list -->
     <div class="flex items-center justify-start">
        <h1 class="text-primary-off-white text-3xl">Contact</h1>
        <input type="text"class="w-[420px] ml-[115px] py-4 mt-3 text-primary-off-white px-5 bg-primary-light-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" placeholder="Select a contact list">
     </div>
     <!-- Subject -->
     <div class="flex items-center justify-start">
        <h1 class="text-primary-off-white text-3xl">Subject</h1>
        <input type="text"class="w-[420px] ml-[115px] py-4 mt-3 text-primary-off-white px-5 bg-primary-light-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" placeholder="">
     </div>

     <!-- Email Template -->
     <div class="flex  justify-start">
        <h1 class="flex text-primary-off-white text-3xl ">Subject</h1>
        <div class="relative w-[420px] h-[420px] ml-[115px] mt-3">
            <input type="text" class="w-full h-full py-4 text-primary-off-white px-5 bg-primary-light-gray/80 rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" placeholder="">
            <button class="absolute right-2 top-2 items-center px-4 py-2 rounded-lg bg-primary-dark-blue text-secondary-hade-blue hover:bg-secondary-purple hover:text-primary-off-white">
              Edit
            </button>
          </div>
     </div>
  </div>
</div>

</div>