<div class="relative p-8 h-screen flex">
  <div class="flex-1" > 
    <!-- [ngClass]="{ 'blur-background': isOpened }" -->
    <div class="flex justify-between items-center">
      <h1 class="text-primary-off-white text-3xl font-poppins font-semibold">Contacts</h1>
      <div class="flex gap-3">
        <button
          class="bg-primary-dark-blue text-secondary-hade-blue px-4 py-2 rounded-lg"
          (click)="toggleAddNewContact()"
        >
          {{ isOpened ? 'Close' : 'Add New Contact' }}
        </button>
        <button class="bg-primary-dark-blue text-secondary-hade-blue px-4 py-2 rounded-lg">
          Import email contact
        </button>
      </div>
    </div>
    <div class="flex flex-col gap-2 mt-6">
      <p class="text-sm text-secondary-hade-blue">
        <span class="font-roboto font-medium">3020 </span> contacts selected
      </p>
    </div>
    <div class="flex-1 mt-6 bg-primary-dark-slate border border-primary-lighter-gray rounded-lg">
      <table class="table-auto w-full">
        <thead class="flex-auto border-b border-primary-lighter-gray text-left text-primary-off-white">
          <tr>
            <th class="flex items-center gap-4 p-6">
              <input
                type="checkbox"
                class="w-[15px] h-[15px] bg-primary-lighter-gray text-primary-lighter-gray border-primary-off-white"
              />
              Full Name
            </th>
            <th class="p-6">E-mail</th>
            <th class="p-6">Phone</th>
            <th class="p-6 ml-12">Address</th>
            <th class="p-6">Status</th>
            <th class="p-6"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-primary-light-gray p-2 bg-primary-Dark-gray text-left">
            <!-- Full Name -->
            <td class="px-6 py-4">
              <div class="flex items-center gap-4">
                <input
                  type="checkbox"
                  class="w-[15px] h-[15px] bg-primary-lighter-gray text-primary-lighter-gray border-primary-off-white"
                />
                <p class="text-primary-off-white font-poppins font-semibold">Jhon Doe</p>
              </div>
            </td>
            <!-- E-mail -->
            <td class="px-6 py-4 text-left">
              <p>jhon&#64;gmail.com</p>
            </td>
            <!-- Phone -->
            <td class="px-6 py-4">
              <p>+212 631 76678</p>
            </td>
            <!-- Address -->
            <td class="px-6 py-4">
              <p>Hay Al Azhar tr6/1 imm99</p>
            </td>
            <!-- Status -->
            <td class="px-6 py-4">
              <button class="bg-primary-lighter-gray text-secondary-success px-3 py-2 rounded-lg">
                Active
              </button>
            </td>
            <!-- Actions -->
            <td class="px-6 py-4">
              <div class="flex gap-4">
                <button class="flex gap-2 items-center bg-primary-dark-blue text-secondary-hade-blue px-3 py-2 rounded-lg">
                  <i class="uil uil-edit"></i> Edit
                </button>
                <button class="flex gap-2 items-center bg-primary-dark-blue text-secondary-hade-blue px-3 py-2 rounded-lg">
                  <i class="uil uil-trash-alt"></i> Delete
                </button>
                <!-- <app-star [isFilled]="true"></app-star> -->
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot class="text-center">
          <tr>
            <td colSpan="6" class="py-3">
              <div class="flex justify-center items-center gap-4">
                <span class="text-sm text-primary-off-white">Showing 1 to 4 of 4 results</span>
                <div class="flex items-center gap-2 text-sm bg-primary-dark-blue text-primary-off-white p-2 rounded-lg">
                  Per page | 10 <i class="uil uil-angle-down"></i>
                </div>
                <div class="flex items-center gap-2 text-sm bg-primary-dark-blue text-primary-off-white p-2 rounded-lg">
                  1 | 2 | 3 <i class="uil uil-angle-right"></i>
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <app-add-new-contact *ngIf="isOpened" (close)="toggleAddNewContact()"></app-add-new-contact>
</div>