<div class="flex h-screen bg-black text-primary-off-white items-center justify-center gap-56">
  <!-- Logo & Text -->
  <div class="flex flex-col gap-4 text-center align-middle">
    <h1 class="font-sans text-3xl font-medium">
      <span class="font-bold text-4xl text-secondary-purple">L</span>ink
      <span class="font-bold text-4xl text-secondary-purple">W</span>ave
    </h1>
    <h1 class="text-h1 font-sans font-normal text-primary-off-white text-center">
      One tool for your<br /> whole team needs
    </h1>
  </div>

  <!-- Sign In Card -->
  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="px-8 py-8 bg-primary-off-white rounded-[32px]">
    <h3 class="font-sans text-primary-Dark-gray text-4xl font-medium">Sign In</h3>
    <div class="flex justify-start gap-1 text-primary-Dark-gray mt-4 font-sans font-medium">
      <p>New user?</p>
      <a routerLink="/register" class="hover:text-secondary-purple transition duration-300 ease-in-out">
        Create an account
      </a>
    </div>

    <!-- Email Login -->
    <div class="flex justify-center relative mt-6">
      <label for="email" class="absolute text-xs font-normal px-1 -top-3 left-4 bg-gradient-to-b from-primary-off-white to-white text-primary-light-gray">
        Email Address
      </label>
      <input 
        id="email" 
        formControlName="email"
        class="h-[48px] w-[393px] text-primary-Dark-gray bg-white rounded-xl border border-[#bbb7c3] p-3" 
        type="text" 
        placeholder="email@gmail.com "
      />
    </div>
    <p *ngIf="emailError" class="text-secondary-danger">{{ emailError }}</p>

    <!-- Password -->
    <div class="flex justify-center relative">
      <input 
        id="password" 
        formControlName="password"
        class="h-[48px] w-[393px] text-primary-Dark-gray bg-white rounded-xl border border-[#bbb7c3] p-3" 
        type="password" 
        placeholder="Password"
      />
    </div>
    <p *ngIf="loginError" class="text-secondary-danger">{{ loginError }}</p>

    <!-- Sign In Button -->
    <div class="flex mt-[38px] gap-[104px] justify-center items-center">
      <a routerLink="forgot-password" class="font-sans text-sm text-primary-light-gray hover:text-secondary-purple transition duration-300 ease-in-out">
        Forgot password?
      </a>
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        {{ loading ? 'Loading...' : 'Sign In' }}
      </button>
    </div>

    <!-- Divider -->
    <div class="flex items-center justify-center gap-3 mt-6">
      <div class="w-[177px] h-px bg-[#dbdadd]"></div>
      <p class="text-primary-light-gray font-sans text-sm font-normal">OR</p>
      <div class="w-[177px] h-px bg-[#dbdadd]"></div>
    </div>

    <!-- Providers -->
    <div class="flex items-center mt-6 justify-center gap-[15px]">
      <button class="btn btn-facebook" (click)="authService.loginWithProvider('facebook')">
        <i class="fab fa-facebook"></i> Facebook
      </button>
      <button class="btn btn-google" (click)="authService.loginWithProvider('google')">
        <i class="iconscout-google"></i> Google
      </button>
    </div>

    <!-- reCAPTCHA -->
    <div class="flex-col mt-6 w-[385px]">
      <span class="text-primary-light-gray text-xs font-normal font-sans leading-[17px]">
        Protected by reCAPTCHA and subject to the 
      </span>
      <span class="text-secondary-purple text-xs font-normal font-['Poppins'] leading-[17px]">
        Cuboid Privacy Policy
      </span>
      <span class="text-primary-light-gray text-xs font-normal font-sans leading-[17px]">
        and 
      </span>
      <span class="text-secondary-purple text-xs font-normal font-sans leading-[17px]">
        Terms of Service.
      </span>
    </div>
  </form>
</div>