<div class="select-template-container p-12 border text-center border-primary-lighter-gray rounded-lg bg-primary-dark-slate flex flex-col gap-8 items-center justify-center">
  <h1 class="text-5xl text-primary-off-white font-semibold">Select a Template</h1>
  <p class="text-sm text-primary-light-gray">Please select a template to begin. Customize your workflow efficiently and manage tasks with ease.</p>
  <select class="flex px-4 py-3 w-[520px] rounded-md bg-primary-lighter-gray text-primary-off-white focus:ring-secondary-purple focus:outline-none focus:border-transparent">
    <option value="" disabled selected>Select a template</option>
    <option value="template1">Template 1</option>
    <option value="template2">Template 2</option>
    <option value="template3">Template 3</option>
    <option value="newTemplate">Create a new Template</option>
  </select>
  <div class="flex mt-8 gap-[520px] text-center">
    <button (click)="onClose()" class="relative flex gap-2 items-center px-4 py-2 rounded-lg text-secondary-hade-blue hover:bg-secondary-purple hover:text-primary-off-white">
      Discard
    </button>
    <button (click)="handleSubmit()" class="relative flex gap-2 items-center px-4 py-2 rounded-lg bg-primary-dark-blue text-secondary-hade-blue hover:bg-secondary-purple hover:text-primary-off-white">
      Save
    </button>
  </div>
</div>