<div class="relative p-8 h-full">
  <div class="flex flex-col gap-10">
    <h1 class="text-primary-off-white text-3xl font-poppins font-semibold">My Profile</h1>
    <div class="flex gap-20">
      <a [routerLink]="'/dashboard/user/profile'" class="text-primary-off-white font-poppins font-medium text-3xl underline underline-offset-[20px]">Information</a>
      <a [routerLink]="'/dashboard/user/password'"  class="text-primary-light-gray font-poppins font-medium text-3xl underline underline-offset-[20px]">Password</a>
    </div>

    <!-- Informations -->
    <div class="flex gap-24">
      <h1 class="text-xl text-primary-off-white font-poppins font-medium">Personal information</h1>
      <div class="flex flex-col gap-8">
        <!-- Email address -->
        <div class="flex flex-col">
          <p class="text-primary-off-white font-roboto font-normal text-lg">Email address</p>
          <input class="w-[520px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="Enter email" />
        </div>

        <!-- First Name & Last Name -->
        <div class="flex gap-12">
          <!-- First Name -->
          <div class="flex flex-col">
            <p class="text-primary-off-white font-roboto font-normal text-lg">First name</p>
            <input class="w-[220px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="First name" />
          </div>
          <!-- Last Name -->
          <div class="flex flex-col">
            <p class="text-primary-off-white font-roboto font-normal text-lg">Last name</p>
            <input class="w-[220px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="Last name" />
          </div>
        </div>

        <!-- Phone number -->
        <div class="flex flex-col">
          <p class="text-primary-off-white font-roboto font-normal text-lg">Phone number</p>
          <input class="w-[520px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="Enter phone number" />
        </div>
      </div>
    </div>

    <!-- Company information -->
    <div class="flex gap-24 -ml-2">
      <h1 class="text-xl text-primary-off-white font-poppins font-medium">Company information</h1>
      <div class="flex flex-col gap-8">
        <!-- Company & Website -->
        <div class="flex gap-12">
          <!-- Company -->
          <div class="flex flex-col">
            <p class="text-primary-off-white font-roboto font-normal text-lg">Company</p>
            <input class="w-[220px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="Company" />
          </div>
          <!-- Website -->
          <div class="flex flex-col">
            <p class="text-primary-off-white font-roboto font-normal text-lg">Website</p>
            <input class="w-[220px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="Enter the url" />
          </div>
        </div>

        <!-- Address -->
        <div class="flex flex-col">
          <p class="text-primary-off-white font-roboto font-normal text-lg">Address</p>
          <input class="w-[520px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="Enter address" />
        </div>

        <!-- Country & City -->
        <div class="flex gap-12">
          <div class="flex flex-col">
            <div class="flex gap-12">
              <!-- Country -->
              <div class="flex flex-col">
                <p class="text-primary-off-white font-roboto font-normal text-lg">Country</p>
                <input class="w-[220px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="Country" />
              </div>
              <!-- City -->
              <div class="flex flex-col">
                <p class="text-primary-off-white font-roboto font-normal text-lg">City</p>
                <input class="w-[220px] py-3 mt-3 text-primary-off-white px-5 bg-primary-lighter-gray rounded-lg focus:ring-2 focus:ring-secondary-purple focus:outline-none focus:border-transparent" type="text" placeholder="City" />
              </div>
            </div></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Newsletter -->
    <div class="flex gap-24 mt-12">
      <h1 class="text-xl text-primary-off-white font-poppins font-medium">Newsletter</h1>
      <div class="flex items-center gap-4 ml-24">
        <input type="checkbox" class="w-[23px] h-[23px] bg-primary-lighter-gray text-primary-lighter-gray border-primary-off-white" />
        <p class="text-primary-off-white font-roboto font-normal text-lg">Send me marketing tips and news about X updates.</p>
      </div>
    </div>
  </div>
